{% extends 'base/base_content.html' %}
{% load static %}


{% block extra_header %}
    <link href="{% static 'css/clients.css' %}" rel="stylesheet" />
{% endblock extra_header %}



{% block module_content %}
    <section class="client-list-container" id="client-section">
        <div class="row">
            <div class="col-md-3 filtro-card">
                <div class="card">
                    <div class="card-header bg-primary fw-bold">
                      Filtros
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                  Filtros Tipo #1
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Default checkbox
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          Checked checkbox
                                        </label>
                                      </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                  Filtros Tipo #2
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" class="form-control form-control-sm" placeholder=".col-3">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control form-control-sm" placeholder=".col-4">
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                  Filtros Tipo #3
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-9">
                <div class="card text-white mb-3">
                    <div class="card-header bg-dark fw-bold">Lista de Clientes</div>
                    <div class="row mb-2 pl-3 pr-3">
                      <div class="col-sm-6">
                         <div id="result-count" class="text-left" style="color: black;  padding-left: 3rem;">
                            <span class='font-weight-bold'></span> Registros.
                         </div>
                      </div>
                      <div class="col-sm-6">
                         <div id="page-count" class="text-right" style="color: black; text-align: right; padding-right: 3rem;">Pagina:
                            <span class='font-weight-bold'></span>
                         </div>
                      </div>
                   </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover" data-height="450">
                            <thead>
                                <tr>
                                  <th scope="col">Nuermo de Cuenta</th>
                                  <th scope="col">Username</th>
                                  <th scope="col">Fecha de Alta</th>
                                  <th scope="col">Codigo Zip</th>
                                  <th scope="col">Dirección</th>
                                  <th scope="col">Geo-latitud</th>
                                  <th scope="col">Geo-longitud</th>
                                  <th scope="col">IP</th>
                                  <th scope="col">Auto</th>
                                  <th scope="col">Auto: Modelo</th>
                                  <th scope="col">Auto: Tipo</th>
                                  <th scope="col">Auto: Color</th>
                                  <th scope="col">Cantidad Compras Realizadas</th>
                                  <th scope="col">Credict Card Number</th>
                                  <th scope="col">Credit Card CCV</th>
                                  <th scope="col">Color Favorito</th>
                                  <th scope="col">Fecha de Nacimiento</th>
                                  <th scope="col">Avatar</th>
                                  <th scope="col">Foto: DNI</th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                        </table>
                        <div id="hidden-spinner" class="row" style="justify-content: center;">
                          <div class="spinner-border text-dark" role="status"></div>
                       </div>
                    </div>
                      <div class="row pagination-box justify-content-center" ></div>
                  </div>
            </div>
        </div>
    </section>

{% endblock module_content %}


{% block extra_javascript %}
    <script src="{% static 'js/clientes/clients.js' %}"></script>
    <script>
      $('.table').bootstrapTable({
        showFullscreen: false,
        stickyHeader: true,
        stickyHeaderOffsetLeft: parseInt($('body').css('padding-left'), 10),
        stickyHeaderOffsetRight: parseInt($('body').css('padding-right'), 10),

      })
    </script>
{% endblock extra_javascript %}