
#result-count,
#page-count {
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 1.2rem;
}


.login-body {
    background-image: url("/static/src/bg/sep09.jpg");
    /* background-size: auto; */
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
}

.card-img-left {
    width: 45%;
    background: scroll center url("/static/src/bg/various-work-tools-worktop.jpg");
    background-size: cover;
}

.dot{
    font-size: 6px !important;
}

#dot {
    color: rgb(117, 15, 52);
}

.navbar-brand {
    font-weight: 800;
}

.attachment-img {
    filter: blur(4px);
}

tbody {
    font-size: 12px;
}